upload/
*tar.gz
calamares/
ckbcomp/
mkinitcpio-openswap/
package-query/
pamac-aur/
pamac-tray-appindicator/
ultra-flat-icons-blue/
trizen/
rhythmbox-plugin-tray-icon-git/
namib-wallpapers/
namib-config-system/
namib-base-skel/
namib-keyring/
namib-mirrorlist/
namib-mate-settings/
namib-gnome-settings/
namib-xfce-settings/
namib-kde-settings/
brisk-menu/
numix-kde-theme-git
numix-circle-icon-theme-git/
numix-icon-theme-git/
namib-settings-manager/
nhwd/
nhwd-db/
namib-welcome/
materia-namib-theme/
b43-firmware/
timeshift/
xcursor-breeze/
gnome-shell-extension-arc-menu-git/
gnome-shell-extension-dash-to-panel/
