upload/
*tar.gz
calamares/
ckbcomp/
mkinitcpio-openswap/
package-query/
pamac-aur/
ultra-flat-icons-blue/
trizen/
gnome-mpv/
rhythmbox-plugin-tray-icon-git/
namib-wallpapers/
namib-config-system/
namib-base-skel/
namib-keyring/
namib-mirrorlist/
namib-mate-settings/
namib-gnome-settings/
brisk-menu/
namib-settings-manager/
nhwd/
nhwd-db/
namib-welcome/
